{% block _xlabs_bookmark %}
    {% set xlabs_bookmark_action = xlabs_bookmark_action is defined ? xlabs_bookmark_action : 'xlabs_bookmark_ajax'  %}
    <script type="text/javascript">
        $(document).on('click', '[data-xlabs-bookmark]', function(){
            let elem = $(this);
            let xlabs_data = elem.attr('data-xlabs-bookmark');
            let bookmark_entityType = xlabs_data.split(',')[0];
            let bookmark_entity_id = xlabs_data.split(',')[1];
            $.ajax({
                url: '{{ path(xlabs_bookmark_action) }}',
                contentType: 'application/json',
                data: JSON.stringify({
                    'data-xlabs-bookmark': {
                        'entityType': bookmark_entityType.trim(),
                        'entity_id': bookmark_entity_id.trim()
                    }
                }),
                type: 'post',
                dataType: 'html',
                success: function(response){
                    var custom_callback = elem.attr('data-xlabs-callback');
                    try {
                        custom_callback = eval(custom_callback);
                        if(typeof custom_callback == 'function')
                        {
                            custom_callback(elem, response);
                        }
                    }
                    catch(err) {
                        console.log('XLabs Bookmark (data-xlabs-callback): ' + err.message);
                    }
                }
            });
        });

        {#
        window.addEventListener('load', function() {
            var elements = document.querySelectorAll('[data-xlabs-bookmark]');
            //console.log(window.jQuery ? 'jQuery loaded' : 'jQuery not loaded');
            for(var i = 0, len = elements.length; i < len; i++) {
                elements[i].addEventListener("click", function(){
                    var elem = this;
                    var req = new XMLHttpRequest();
                    req.open('POST', '{{ path(xlabs_bookmark_action) }}', true);
                    req.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
                    //req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    req.onreadystatechange = function() {
                        switch(true)
                        {
                            case req.readyState < 4:
                                // Loading
                                break;
                            case req.readyState == 4:
                                if(req.status == 200 && req.status < 300) // http status between 200 to 299 are all successful
                                {
                                    var custom_callback = elem.getAttribute('data-xlabs-callback');
                                    try {
                                        custom_callback = eval(custom_callback);
                                        if(typeof custom_callback == 'function')
                                        {
                                            custom_callback(elem, req.responseText);
                                        }
                                    }
                                    catch(err) {
                                        console.log('XLabs Bookmark (data-xlabs-callback): ' + err.message);
                                    }

                                }
                                break;
                            default:
                                // Unable to post data
                                console.log('XLabs Bookmark: Unable to post data');
                                break;
                        }
                    };

                    var xlabs_data = elem.getAttribute('data-xlabs-bookmark');
                    var bookmark_entityType = xlabs_data.split(',')[0];
                    var bookmark_entity_id = xlabs_data.split(',')[1];
                    req.send(JSON.stringify({
                        'data-xlabs-bookmark': {
                            'entityType': bookmark_entityType.trim(),
                            'entity_id': bookmark_entity_id.trim()
                        }
                    }));
                });
            }
        });
        #}
    </script>
{% endblock _xlabs_bookmark %}